<h3>Control Page</h3>

<div class="row">
    {{#each doctor}}
        <div class="col-4">
            <div class="docNames">Dr. {{fullName}}: {{#each queue}}{{fName}}, {{/each}}</div>
        {{!-- {{#each queue}}<button>Move to the top</button>{{id}}{{/each}} --}}
        </div>
    {{/each}}
</div>
