<button id="next">next</button>

<script>
      $(() => {
        var socket = io("{{room}}"); //this will be a var {{doctor}}

        $("#next").on("click", () => {
          socket.emit("next");
          console.log("dude hit next");
        });
      });
    </script>

