<p>doctor: {{fName}}</p>
<button id="next">next</button>


<script>
      $(() => {
        var socket = io("{{nameSpace}}");

        $("#next").on("click", () => {
          socket.emit("next");
          console.log("next patient");
        });
      });
    </script>