{{!-- this will be the login page --}}

<section id="login" class="flex row">

<div class="item col-6">
  <div class="login_box">
  <p>Please log in</p>
  <hr>

<form action="/login" method="post">
    <label for="username">Username <br />
    <input type="text" name="username" id="username" placeholder=" username">
    </label>
    <br />
    <label for="password">Password <br />
    <input type="password" name="password" id="password" placeholder=" password">
    </label>
    <br />
    <button type="submit" class="login_btn">LOGIN</button>
    <p class="other_signin">sign in with <a href="#passport"> <img src="/asset/google_logo.png" alt="google" ></a></p>
    <p class="signup"><a href="/signup"><i class="fas fa-user-plus" style="color: #00c4cc; font-size: 17px; padding: 5px"></i> sign up</a></p>
    <p class="forgot"><a href="#forgot">forgot password?</a></p>
</form>
  </div>
  </div>

<div class="item login_img col-6">
    <img src="/asset/login.png" alt="">
</div>

</section>