<div class="page_name" style="background-color: #00c4cc;">
<h6 class="">Patient Check-in Form</h6>

</div>



<p class="m-3">Please fill in the required information, our doctors will see you as soon as possible.</p>

<form action="/checkin" method="post" class="m-5 patient_form">

  <label>choose a doctor:</label>
  <ul>
    {{#each doctor}}
      <input type="radio" name="doctor" value="{{id}}"> Dr {{fName}} {{lName}} <br>(Room {{room}}) <br>
    {{/each}}
  </ul>

  <label for="fName">First Name</label><br />
  <input name="fName" placeholder="first name" value="" type="text"/>
  <br />

  <label for="lName">Last Name</label><br />
  <input name="lName" placeholder="last name" value="" type="text"/>
  <br />

  <label for="hkid">HKID Number <span style="color: gray;">ex. A1234567 </span></label><br />
  <input name="hkid" placeholder="A1234567" value="" pattern="[^()/><\][\\\x22,;|]+" />
  <br />

    <label for="dob">Date of Birth</label><br />
  <input name="dob" placeholder="02/02/1990" value="" type="date"/>
  <br />

    <label for="gender">Gender</label><br />
    <input name="gender" id="gender" value="Female" type="radio"/>
    <label for="gender">Female</label>
    <input name="gender" id="gender" value="Male" type="radio"/>
    <label for="gender">Male</label>
    <input name="gender" id="gender" value="Other" type="radio"/>
    <label for="gender">Let me type<input type="text" name="other_gender" /></label>
  <br />

  <label for="temperature">Temperature °C</label><br />
  <input type="number" name="temperature" value=""  min="35.0" max="43.0">
  
  <br />
  <button type="submit" value="checkIn" class="my-4">check in </button>

  <button type="reset" value="reset" class="my-4 mx-3 reset">reset </button>

</form>

{{!-- styling --}}
<section id="checkin">
<div class="container">
    <div class="patient_img text-center"> <img src="./asset/4.png" alt="" width="50%" >
      <div class="patient_rec text-center col-12">
    </div>
  </div>
</div>
</section>

