<p id="fName"></p>
<p id="lName"></p>
<p id="fullName"></p>
<p id="queue_position"></p>


<script>
      $(() => {
        //on first page load insert data
        axios
            .get("/api/{{doctor}}/{{patient}}")
            .then((data) => {
              let patient = data.data.patient;
              $("#fName").html(patient.fName);
              $("#lName").html(patient.lName);
              $("#fullName").html(patient.fullName);
              $("#queue_position").html(patient.queuePosition);

              //Set up socket connection
              let socket = io.connect("http://localhost:8000");
              socket.emit("start", `${patient.assignedDoctor}`);

              //set up listners
              socket.on("update", () => {
                  console.log("updating");
                  
                  axios
                    .get("/api/{{doctor}}/{{patient}}")
                    .then((data) => {
                    let patient = data.data.patient;
                    $("#queue_position").html(patient.queuePosition); // note.
                  })
                  .catch((err) => {
                    console.log(err);
                  });
              });
            })
            .catch((err) => {
              console.log(err);
            });
      });
</script>
