{{!-- // You get sent an object with 
Patient {
  fName: 'test',
  lName: 'test',
  temperature: '',
  assignedDoctor: '1',
  fullName: 'test test',
  url: 'test_test',
  arrived: 2021-12-20T07:53:46.388Z,
  departed: '',
  queuePosition: 0
} --}}



{{#with patient}}
<p>Patient: {{fName}} {{lName}}</p>
<p id="queue_position">{{queuePosition}}</p>

<script>
      $(() => {
        let socket = io.connect("http://localhost:8000");

        socket.on("update", () => {
            console.log("updating");
            
          $("#queue_position").html(data.quePos); // note.
        });
      });
</script>
{{/with}}