{{!-- this will be the signup page --}}



<form action="/signup" method="post">
    <label for="f_name">Enter your first name:</label>
    <br />
    <input type="text" name="f_name" id="f_name" required>
    <br />
    <label for="l_name">Enter your last name:</label>
    <br />
    <input type="text" name="l_name" id="l_name" required>
    <br />
    <label for="username">Username: <br />
    <input type="text" name="username" id="username" required>
    </label>
    <br />
    <label for="password">Password: <br />
    <input type="password" name="password" id="password" required>
    </label>
    <br />
    <label for="tag">Choose one:</label>
    <br />
    <input type="radio" name="tag" id="doctor" value="Doctor">
    <label for="doctor">Doctor</label>
    <input type="radio" name="tag" id="admin" value="admin">
    <label for="admin">Admin</label>
    <br />
    <br />
    <button type="submit">Create account</button>
</form>