{{!-- this will be the signup page --}}


<section id="signup" class="flex row">

<div class="item col-6">
  <div class="login_box">
<form <form action="/signup" method="post">
  <p>Sign up for our service <br>(staff only)</p>
  <hr>
   
  <label for="f_name">First name</label>
    <br />
    <input type="text" name="f_name" id="f_name" placeholder=" first name">
    <br />
    <label for="l_name">Last name</label>
    <br />
    <input type="text" name="l_name" id="l_name" placeholder=" last name">
    <br />
    <label for="username">Username <br />
    <input type="text" name="username" id="username" placeholder=" username" required>
    </label>
    <br>
    <label for="password">Password <br />
    <input type="password" name="password" id="password" placeholder=" password" required>
    </label>
    <br>
      <label for="password">Confirm Password <br />
    <input type="password" name="confirm_password" id="confirm_password" placeholder=" confirm password">
    </label>
    <br>
    <label for="room">Doctor's Room <br />
    <input type="text" name="room" id="room" placeholder=" room no.">
    </label>
    <br>

      <label for="tag" id="tag">Select your account type:</label>
    <br />
    <input type="radio" name="tag" id="doctor" value="Doctor">
    <label for="doctor">Doctor</label>
    <input type="radio" name="tag" id="admin" value="admin">
    <label for="admin">Admin</label>
 
    <br>
    <button type="submit" class="login_btn" style="width: 300px;">CREATE ACCOUNT</button>
    <p class="other_signin">sign up with <a href="#passport"> <img src="/asset/google_logo.png" alt="google" ></a></p>
  
</form>
  </div>
  </div>

<div class="item login_img col-6">
    <img src="/asset/signup.png" alt="doctors">
</div>
</section>

<script>
var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
    confirm_password.reportValidity()
  }
}

confirm_password.onkeyup = validatePassword;

</script>
