{{!-- this will be the signup page --}}


<section id="login" class="flex row">

<div class="item col-6">
  <div class="login_box">
<form <form action="/signup" method="post">
  <p>Sign up for our service <br>(staff only)</p>
  <hr>
    <label for="username">Username <br />
    <input type="text" name="username" id="username" placeholder=" username" required>
    </label>
    <br>
    <label for="password">Password <br />
    <input type="password" name="password" id="password" placeholder=" password" required>
    </label>
    <br>
      <label for="tag" id="tag">Select your account type:</label>
    <br />
    <select name="tag" id="tag" required>
        <br>
        <option name="tag" value="doctor">Doctor</option>
        <option name="tag" value="reception">Admin</option>
    </select>
    <br>
    <button type="submit" class="login_btn">CREATE ACCOUNT</button>
    <p class="other_signin">sign up with <a href="#passport"> <img src="/asset/google_logo.png" alt="google" ></a></p>
  
</form>
  </div>
  </div>

<div class="item login_img col-6">
    <img src="/asset/signup.png" alt="doctors">
</div>

{{!-- original form from Peram --}}
{{!-- <form action="/signup" method="post">
    <label for="username">Username <br />
    <input type="text" name="username" id="username" required>
    </label>
    <br />
    <label for="password">Password <br />
    <input type="password" name="password" id="password" required>
    </label>
    <br />
    <label for="tag" id="tag">Select one:</label>
    <br />
    <select name="tag" id="tag" required>
        <br />
        <option></option>
        <option name="tag" value="doctor">Doctor</option>
        <option name="tag" value="reception">Reception</option>
    </select>
    <br />
    <button type="submit">Create account</button>
</form>  --}}
{{!-- original form from Peram --}}


</section>