@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family:  'Roboto', sans-serif;
}

.reset {
    background-color: white;
    color: #007075;
}

.page_name {
    width: 50vw;
    height: 5vh;
}

h6 {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px ;
}

label {
    font-weight: 500;
}

/*nav bar*/
.nav_home {
    width: 66px;
    height: 70px;
    background: #00C4CC;
}

.nav-link {
    color: black;
    padding-top: 40px;
}

.nav-link:hover {
    text-shadow: 0px 1px white;;
}

/*footer*/


/*patient check in*/

 #checkin .container {
    display: flex;
    justify-content: center;
}
 
.patient_form {
    border: 1px solid #007075;
    border-radius: 10px;
    padding: 20px;
    line-height: 2em;
    letter-spacing: 1px;
}

.patient_rec {
    /* margin-bottom: 10%; */
    width: 80vw;
    height: 5vh;
    background: #007075;
    border-radius: 20px;
    /* margin-top: -16%; */
    margin: -17% auto 10%;
}

button {
    background-color: #007075;
    color: white;
    border-radius: 10px;
}

/*doctor access*/
.doc_info {
    color: #AA8F00;
}

.current_patient {
    border: 1px solid #007075;
    border-radius: 40px;
    padding-right: 100px;
}

.patient_queue {
    border: 1px solid #007075;
    border-radius: 40px;
    margin-right: 20px;
}

#doctor p {
    font-weight: 500;
}

#doctor span {
    font-weight: 300;
}

.doctor_rec {
    width: 80vw;
    height: 5vh;
    background: #AA8F00;
    border-radius: 20px;
    margin: -50px auto 5%;
}

.doctor_image img {
    position:relative;
    margin-left: 10%;
}

#doctor .container{
    min-height: 40vh;
}

.next_btn {
    
    width: 200px;
    height: 80px;
    background-color: #AA8F00;
    font-size: 20px;
    
}

/* Patient ------------- done by Mr. P */
.displayBox {
    /* background-color: black; */
    height: 50vh;
    /* margin-bottom: 100vh; */
}

#displayBoxInside {
    margin: auto;
    margin-top: 50px;
    height: 50vh;
    width: 75vw;
    padding: 0vh 5vw;
    /* background-color: aqua; */
    /* display: flex; */
    justify-content: center;
    /*align-items: flex-start;
    flex-direction: column; */
    border: 1px solid #007075;
    border-radius: 20px;
    /* position: relative;
    top: 10vh; */
}




/* Patient ------------- done by Mr. P */