@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family:  'Roboto', sans-serif;
}


/*nav bar*/
.nav_home {
width: 66px;
height: 70px;
background: #00C4CC;
}

.nav-link {
    color: black;
    padding-top: 40px;
}

.nav-link:hover {
    text-shadow: 0px 1px white;;
}

/*footer*/
