@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family:  'Roboto', sans-serif;
}

.reset {
    background-color: white;
    color: #007075;
}


/*nav bar*/
.nav_home {
    width: 66px;
    height: 70px;
    background: #00C4CC;
}

.nav-link {
    color: black;
    padding-top: 40px;
}

.nav-link:hover {
    text-shadow: 0px 1px white;;
}

/*footer*/




/*patient check in*/

 #checkin .container {
    display: flex;
    justify-content: center;
}
 
.patient_form {
    border: 1px solid #007075;
    border-radius: 10px;
    padding: 20px;
    line-height: 2em;
    letter-spacing: 1px;
}

.patient_rec {
    /* margin-bottom: 10%; */
    width: 80vw;
    height: 5vh;
    background: #007075;
    border-radius: 20px;
    /* margin-top: -16%; */
    margin: -17% auto 10%;
}

button {
    background-color: #007075;
    color: white;
    border-radius: 10%;
}
